<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>chats</title>
    <style>
      * {
        margin: 0;
        padding: 0;
        background-color: black;
        color: white;
      }
      .container {
        border: 1px solid whitesmoke;
        border-radius: 10px;
        width: 80%;
        height: 90vh;
        margin: 10%;
        display: flex;
        flex-direction: row;
        gap: 10px;
      }
      .left {
        border: 1px solid yellow;
        height: 100%;
        width: 30%;
        display: flex;
        flex-direction: column;
      }
      .right {
        height: 100%;
        border: 1px solid green;
        width: 70%;
        display: flex;
        flex-direction: column;
      }
      .msg {
        border: 1px solid rgba(120, 44, 191, 0.819);
        padding: 10px;
        width: 40%;
        display: flex;
        flex-direction: column;
        margin: 2%;
        border-radius: 20px;
      }
      ::-webkit-scrollbar {
        display: none;
      }
      .name {
        font-size: 12px;
        color: green;
      }
      .time {
        font-size: 12px;
        text-align: right;
      }
      .me {
        align-self: flex-end;
      }
      .message {
        display: flex;
        flex-direction: column;
        border: 1px solid brown;
        width: 100%;
        height: 90%;
        overflow: auto;
      }
      .text {
        width: 100%;
        display: flex;
        flex-direction: row;
      }
      button {
        background-color: blueviolet;
        color: black;
        height: 20%;
        width: 12%;
        padding: 5px;
        margin: 2%;
        margin-top: 10%;
        border: 1px solid blueviolet;
        border-radius: 10px;
      }
      textarea {
        margin: 1%;
        margin-left: 5%;
        padding: 10px;
      }
      .dp {
        border: 1px solid whitesmoke;
        height: 50%;
        width: 30%;
        border-radius: 50%;
        display: block;
        margin-left: 10%;
        margin-top: 10%;
      }
      .hide {
        display: none;
      }
      .groupinfo {
        height: 30%;
        width: 100%;
        border: 1px solid orange;
        display: flex;
        flex-direction: row;
      }
      .nameofgroup {
        margin-top: 20%;
        margin-left: 4%;
      }
      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
      .setting {
        width: 100%;
        height: 70%;
        border: 1px solid white;
        display: flex;
        flex-direction: column;
      }
      .setting > div {
        border: 1px solid white;
        margin: 5%;
        padding: 10px;
        background-color: gray;
        color: black;
        border: 1px solid gray;
        border-radius: 10px;
      }
      .setting div:hover {
        border: 2px solid blueviolet;
        transition: 0.5s;
      }
      .setting > span {
        display: inline-block;
        margin-left: 5%;
      }
      .requests {
        height: 50%;
        overflow: auto;
        color: aliceblue;
        display: flex;
        flex-direction: column;
      }
      .request {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 5%;
        border: 1px solid blueviolet;
        border-radius: 10px;
        background-color: blueviolet;
        color: black;
      }
      .request > button {
        border: 1px solid black;
        border-radius: 10px;
        background-color: blueviolet;
        color: black;
        height: max-content;
        width: max-content;
      }
      .request > span {
        color: white;
        background-color: blueviolet;
        border-radius: 20px;
      }
      .hide {
        display: none;
      }
    </style>
  </head>
  <body>
    <h1>welcome to chat page</h1>
    <div class="container">
      <div class="left">
        <div class="groupinfo">
          <div class="dp">
            <img
              src="https://tse1.mm.bing.net/th?id=OIP.a_C9v1H7RBbVyFjU4udThgHaKX&pid=Api&P=0&h=180"
              alt="dp"
            />
          </div>
          <div class="nameofgroup"><%= obj.name %></div>
        </div>
        <div class="setting">
          <span>Description</span>
          <div class="discription"><%= obj.description %></div>
          <span>Total members</span>
          <div class="membersD"><%= obj.members %></div>
          <% if(showrequest && obj.adminIs) {%>
          <div class="request_lsit">Request pending</div>
          <div class="requests">
            <% obj.request.forEach((request) => {%>
            <div class="request">
              <span><%= request.senderName %></span>
              <button class="accept" data-userid="<%= request.senderId %>">
                Accept
              </button>
              <button class="reject" data-userid="<%= request.senderId %>">
                Reject
              </button>
            </div>
            <%})%>
          </div>
          <%}%>
        </div>
      </div>
      <div class="right">
        <div class="message"></div>
        <div class="text">
          <textarea cols="70" placeholder="Message..."></textarea>
          <button class="submit">send</button>
        </div>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.0/socket.io.min.js"></script>

    <script>
      let txt = document.querySelector("textarea");
      let btnSend = document.querySelector(".submit");
      let messageArea = document.querySelector(".message");
      let requestArea = document.querySelector(".requests");
      let acceptBtn = document.querySelector(".accept");
      let rejectBtn = document.querySelector(".reject");
      let userName;
      let socket = io("https://groupshub.onrender.com/", {
         auth: {
           token: sessionStorage.getItem("token"),
         },
      });
      joinGroup();
      function joinGroup() {
        let d = new Date();
        const Fullurl = window.location.href;
        const url = new URL(Fullurl);
        const path = url.pathname.split("/");
        const groupid = path[path.length - 2];
        socket.emit("joinGroup", groupid);
      }
      btnSend.addEventListener("click", async () => {
        let msg = txt.value.trim();
        if (msg == "") return false;
        let d = new Date();
        const Fullurl = window.location.href;
        const url = new URL(Fullurl);
        const path = url.pathname.split("/");
        const groupid = path[path.length - 2];

        let obj = {
          content: msg,
          userid: path[path.length - 1],
          groupid: groupid,
        };
        console.log(obj);
        fetch("/user/chats/messagesend", {
          method: "post",
          headers: {
            "content-type": "application/json",
            Authorization: `Bearer ${sessionStorage.getItem("token")}`,
          },
          body: JSON.stringify(obj),
        })
          .then((Response) => Response.json())
          .then((data) => {
            let msg = {
              name: userName,
              content: obj.content,
              name: data.data.name,
              timestamp: new Date().toLocaleTimeString([], {
                hour: "2-digit",
                minute: "2-digit",
              }),
            };
            obj.name = msg.name;
            obj.timestamp = msg.timestamp;
            console.log(obj);
            socket.emit("sendMsg", obj);
          })
          .catch((err) => console.log(err));

        txt.value = "";
      });
      socket.on("newMessage", (data) => {
        console.log(data);
        createmsg(data);
      });
      onload = async () => {
        const Fullurl = window.location.href;
        const url = new URL(Fullurl);
        const path = url.pathname.split("/");
        const groupid = path[path.length - 2];
        fetch(`/user/groupchats/getmessage/${groupid}`, {
          method: "get",
          headers: {
            "content-type": "application/json",
            Authorization: `Bearer ${sessionStorage.getItem("token")}`,
          },
        })
          .then((response) => response.json())
          .then((data) => {
            console.log("done");
            console.log(data, data.data);
            if (data.msg) return false;
            const user = data.data.pop();
            userName = user.username;
            data.data.forEach((msg) => {
              createmsg(msg);
            });
          })
          .catch((err) => console.log(err));
      };

      function createmsg(data) {
        console.log(data);
        let div = document.createElement("div");
        if (userName == data.name) div.classList.add("me", "msg");
        else div.classList.add("msg");
        div.innerHTML = `
            <span class="name me">${data.name}</span>
            <span
              >${data.content}</span
            >
            <span class="time">${data.timestamp}</span>

        `;
        messageArea.append(div);
        messageArea.scrollTop = messageArea.scrollHeight;
      }
      document.addEventListener("DOMContentLoaded", () => {
        document.querySelectorAll(".accept, .reject").forEach((button) => {
          button.addEventListener("click", async () => {
            const userId = button.getAttribute("data-userid");
            const status = button.classList.contains("accept")
              ? "accepted"
              : "rejected";

            try {
              groupid = `<%= obj.groupid %>`;
              console.log(groupid);
              const response = await fetch("/handle-group-request", {
                method: "POST",
                headers: {
                  "Content-Type": "application/json",
                  "Authorization": `Bearer ${sessionStorage.getItem("token")}`,
                },
                body: JSON.stringify({ groupid, userId, status }),
              });

              const result = await response.json();
              alert(result.msg);

              button.parentElement.remove(); // Remove the request from UI
            } catch (error) {
              console.error("Error:", error);
            }
          });
        });
      });
    </script>
  </body>
</html>
